<!DOCTYPE html>
<html>
<head>
	<title>待还账单</title>
    
<base href="/bulid/">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="format-detection" content="telephone=no, email=no">

<meta name="renderer" content="webkit">

<meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">

<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/style.css?v_1502855519725">
<script>window._appPath="/msxfInterface/",window._sitePath="/bulid/"</script>

	<link rel="stylesheet" href="css/scale_slip.css">
</head>
<body class="loan-fill" style="background:#e4e4e4">
<div class="top-loan">
	<div class="top-header">
		<a href="loan/index.html?v_1502855519725" class="return_a"> </a>
		待还账单
		
	</div>
</div>

<div class="box-2">
	<ul id="app" v-cloak>
		<li><div class="hd">已出账单<span class="money">{{ (+billAmt).toFixed(2) }}</span><i></i></div>
			<div class="bd" v-on:click="appliFn">
	
				<div class="text-center"><div v-on:click="repayBtnFn" class="btn">还款</div></div>
				<div class="item" v-for="item in billhis" v-bind:key="item.ref_nbr">
					<div class="hd-line">
						<div data-tit="账单日">{{ item.dealDate }}&nbsp;</div>
						<div>订单号: <span>{{ item.requestId||'无' }}</span></div>
					</div>
					<div class="bd-line">
						<div>
							
							
							<span v-html="item.dealDesc"> </span>
						</div> 
						<div>金额: <span class="color-red">¥ {{ (db_cr_ind[item.dbCrInd]||'') + (+item.dealAmount).toFixed(2) }}</span></div>
					</div>
				</div>
				
			</div>
		</li>
		<li class="active" id="app2"><div class="hd">未出账单<span class="money">{{ (+shdRepayAmt).toFixed(2) }}</span><i></i></div>

			<div class="bd" v-on:click="appliFn()">
				
				


	
				<div class="item fq" v-for="item in bill" data-id="item.requestId" v-on:click="billFn(item.requestId, item.loanInd, item.dealAmount, item.postFlg, item.consPlanInd)" v-bind:key="item.requestId">
					<div class="hd-line">
						<div>{{ item.dealDate }}</div>
						<div>订单号: <span>{{ item.requestId }}</span></div>
					</div>
					<div class="bd-line">
						
						<div v-if="item.loanInd != ''">分期:
							<span v-if="item.loanInd == 'N'">未分期</span>
							<span v-if="item.loanInd == 'Y'">已分期</span>
						</div>
						<div v-if="item.loanInd == ''">{{ item.dealDesc }}
						</div>
						
						<div>消费金额: <span class="color-red">¥ {{ db_cr_ind[item.dbCrInd] + (+item.dealAmount).toFixed(2) }}</span></div>
					</div>
				</div>
				
				
			</div>
		</li>
	</ul>
</div>
<style>.box-2 .item{padding:.4rem 0 1rem 1.2rem}</style>
 
</body>



<script src="js/lib/jquery/3.1.1/jquery.min.js"></script>
<script src="js/lib/jquery.cookie/jquery.cookie.js"></script>
<script src="js/lib/vue/vue.min.js"></script>
<script src="js/lib/vue/vue-resource.min.js"></script>
<script src="js/common/dictionary.js"></script>
<script src="js/common/common.js"></script>
<script src="js/common/main.js?v_1502855519725"></script>
<script></script>
<script src="js/loan/account-bill.js"></script>


</html>
